*.swp
.DS_Store
._.DS_Store
.htaccess
.htpasswd
.sass-cache
*.sublime-project
*.sublime-workspace
app/Vendor
app/tmp
app/webroot
docs
config.rb
sftp-config.json
x
xx*
x.*
TAGS
app/Config/deployment.php
app/Config/database.php
app/Config/deployment_*.php
local.mk
