@charset "utf-8";
$main-color:#55ADED;
$main-color-dark:darken($main-color, 25%);
$main-color-dark-saturate:saturate(darken($main-color,25%),20%);
$sub-color:#d9be38;
$black:#222;
$black-light:#444;
$background-color: #fff;
$brown:#362e2b;
$brown-light:lighten($brown, 10%);
$red:#d60706;
$pink:#CC4776;
$pink-dark:darken($pink,25%);
$link-color:darken($sub-color, 10%);
$link-color-hover:darken($link-color, 7%) ;
$blue:#0681da;
$blue-light:lighten($blue,25%);
$light-blue:#37acd4;
$purple:#654D9B;
$green:#0D7D0D;
$green-light:lighten($green,25%);
$emerald:#35CD94;
$light-green:#36CD96;
$orange:#E79043;
$orange-light:lighten($orange, 5%);
$yellow: #d9be38;
$gray:#999;
$gray-light:#f3f3f3;
$text-color:#515151;
$agree:#478bd7;
$disagree:#d76247;
$border-color: #ddd;