@charset "utf-8";
@media (max-width: 767px) {
	#column-main-pane3,
	#column-left,
	#column-right{
		width: 100%;
	}
	main{
		margin-right: 0;
		margin-left: 0;
	}
	.logo-box{
		width: 100%;
		text-align: center;
		figure{
			width: 50%;
			margin: 0 auto;
		}
	}
	.toggle-sp{
		box-shadow: $btn-shadow;
	}
	.toggle-content-sp{
		display: none;
	}
	.mb10-sp{
		margin-bottom: 10px;
	}
}