<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Funky Jam</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">
<link rel="stylesheet" media="screen" href="css/my.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/modernizr.custom.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="index.html">Funky Jam</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="index.html#home" class="page-scroll">Home</a></li>
        <li><a href="company.html" class="page-scroll">Company</a></li>
        <li><a href="store.html" >FJ Shop</a></li>
        <li><a href="recruit.html" >Recruit</a></li>
        <li><a href="scout.html" >Scout</a></li>
        <li><a href="studio.html" >Studio</a></li>
        <li><a href="index.html#contact-section" class="page-scroll">Contact</a></li>
        <li><a href="http://cooljapanmusic.com/toshi-kubota-update/" ><span style="color:#FF9933;">English</span></a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>

<!-- Header -->
<header class="text-center">
  <div class="artist-intro-text">
    <div class="clearfix"></div>
</header>

<div id="breadcrumb">
  <div class="container">
      <div class="col-md-8 col-md-offset-2 leftzero">
      <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Artist</a></li>
      <li><a href="#">Toshinobu Kubota</a></li>
      <li class="active">Performance</li>
     </ol>
  </div>
 </div>
</div>


<!-- Artist Navigation -->
<div id="artistnav">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
    <div class="row">
       <h1 class="artist-title">Toshinobu Kubota</h1>
      <div class="artistnav">
      <div class="btn btn-artist col-xs-6 col-sm-6 col-md-2 col-lg-2"><a href="kubota-news.html">News</a></div>
      <div class="btn btn-artist col-xs-6 col-sm-6 col-md-2 col-lg-2"><a href="profile.html">Profile</a></div>
      <div class="btn btn-artist col-xs-6 col-sm-6 col-md-2 col-lg-2"><a href="discography.html">Discography</a></div>
      <div class="btn btn-on col-xs-6 col-sm-6 col-md-2 col-lg-2"><a href="performance.html">Performance</a></div>
      <div class="btn btn-artist col-xs-6 col-sm-6 col-md-2 col-lg-2"><a href="profile.html#photo-section">Other Work</a></div>
      <div class="btn btn-baribari col-xs-6 col-sm-6 col-md-2 col-lg-2"><a href="baribaricrew.html">Bari Bari Crew</a></div>
      </div>
     </div>
    </div>
  </div>

    

<!-- Artist Section -->
<div id="artist-page-section">
  <div class="container"> <!-- Container -->
    <div class="col-md-8 col-md-offset-2 leftzero">
      <p class="artist-tit">Performance</p>
        <p class="border-left-bottom">2016.12.19 更新</p>
          <img src="img/portfolio/happy60_takebe_title_pc.jpg" class="img-responsive" alt="happy60_takebe">
            <h3 class="text-center" >久保田利伸 「武部聡志　Original Award Show 〜Happy 60〜」に出演決定！</h3>
            <h3 class="text-center">WOWOW主催 音楽コンサート</h3>
          <br>
          <table class="table">
            <tbody>
              <tr>
              <th style="text-align: left;">【日程】</th>
              <td class="grytext" class="grytext">2017年2月27日（月）18：00開場／19：00開演</td>
              </tr>
              <tr>
                <th style="text-align: left;">【会場】</th>                    
              <td class="grytext">東京国際フォーラム&nbsp;ホールA</td>
              </tr>
              <tr>
                <th style="text-align: left;">【出演者】</th>
                <td class="grytext">武部聡志<br>ゴスペラーズ、平井堅、一青窈、JUJU、久保田利伸、松任谷由実、miwa、大黒摩季、斉藤由貴、手嶌葵、他（アルファベット順）
                <br>プレゼンター：亀田誠治、寺岡呼人 他<br>本間昭光（音楽監督）／松任谷正隆（総合演出）<br><br></td>
              </tr>
              <tr>
                <th style="text-align: left;">【料金】</th>
                <td class="grytext">S席13,000円、A席7,500円（全席指定・税込）</td>
              </tr>
              <tr>
                <th style="white-space: nowrap;text-align: left;">【チケット】</th>
                <td class="grytext">チケット情報は、オフィシャルホームページへ！<br><a href="http://www.wowow.co.jp/music/takebe/" target="_blank" rel="nofollow">http://www.wowow.co.jp/music/takebe/</a></td>
              </tr>
            </tbody>
          </table>
          <p>公演に関するお問い合わせ：キョードー東京 Tel.0570-550-799</p>
          <p>（平日11：00&#12316;18：00、土日祝10：00&#12316;18：00　※2016/12/29&#12316;2017/1/3を除く）</p>


        <p class="border-left-bottom" style="margin-top: 60px;">2017.01.30 更新</p>
          <img src="img/portfolio/densetsu.png" class="img-responsive" alt="happy60_takebe">
            <h3 class="text-center">久保田利伸、AI presents 「伝説NIGHT Ⅱ」大阪公演にゲスト出演決定！</h3>
            <p>AIのメジャーデビュー10周年を記念し、2010年11月29日に東京日本武道館で豪華ゲストを迎えて開催したスペシャルライヴ【『伝説NIGHT』at 日本武道館with 超SPECIAL GUEST大勢！！！】。<br><br>

            AIがリスペクトする国内外のアーティストと共に創り上げ、文字通り“伝説”となったあの感動のステージが、2017年4月に大阪、5月東京でまたよみがえる！
            <br><br>

            <b>大阪公演</b><br>
            2017年4月30日（日）開場17:00／開演18:00大阪城ホール<br>
            （問）キョードーインフォメーション0570‐200‐888<br><br>

            <b>東京公演</b><br>
            2017年5月5日（金・祝）、6日（土）開場15:00／開演16:00豊洲PIT<br>
            （問）ユニバーサルミュージックカスタマーセンター045‐330‐7213<br>
            チケット価格：全席指定 7,800円<br>
            ※東京公演のみドリンク代別途500円必要<br>
            ※4歳以上はチケットが必要です。<br>
            ※東京公演のみ、2日通し券（14,000円あり）、AI先行のみでの販売<br><br>

            <b>公演特設サイト：</b><br>
            <a href="http://sp.universal-music.co.jp/ai/densetsunight2/" >AI Presents「伝説NIGHT Ⅱ」オフィシャルサイト</a>
            </p>

          </div>
        </div>
      </div>
    </div>




 <div id="pageTop"><a style="padding-top: 8px; padding-left: 0px;" href="menu"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a></div>


  <div id="footer-other-page">
  </div>

<div id="footer" style="padding-bottom: 20px;">
  <div class="container" style="text-align: center;">
    <p style="margin-bottom: 0px;">Copyright &copy; Funky Jam All rights reserved.</p>
    <a href="privacy.html">Privacy Policy</a></div>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script type="text/javascript" src="js/jquery.1.11.1.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script type="text/javascript" src="js/bootstrap.js"></script> 
<script type="text/javascript" src="js/SmoothScroll.js"></script> 
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="js/jquery.isotope.js"></script> 
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="js/contact_me.js"></script> 

<!-- Javascripts
    ================================================== --> 
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>