/*@import "fontawesome";*/
/*@import "bootstrap";*/

*{
	margin:0;
}

$cCurrent:#8c8c8c;
$radiusBorderSize:6px;
$borderColor:#EAEAEA;
$main-color: #c44123;
$main-black: #222222;
$sub-black: #404040;
$back-color: #f1f1f1;
$graytext: #999;
$ad-color: #7cb62e;
$agree-color: #478bd7;
$disagree-color: #d76247;
$border-color: #dddddd;

@mixin black_link{
	color:#000;
	text-decoration:none;
	&:hover,
	&.current{
		color: $cCurrent;
		text-decoration: none;
	}
}
@mixin ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@mixin opacity($opacity:0.5) {
	opacity: $opacity;
	$opacityIE: $opacity * 100;
	filter: alpha(opacity=$opacityIE);
}
@mixin duration($duration:3s){
	-webkit-transition-duration: $duration;
	-moz-transition-duration: $duration;
	-ms-transition-duration: $duration;
	-o-transition-duration: $duration;
	transition-duration: $duration;
}
@mixin background-image-retina($file, $type, $width, $height) {
	background-image: url($file + '.' + $type);
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (-moz-min-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi),
		only screen and (min-resolution: 2dppx){
		& {
			background-image: url($file + '@2x.' + $type);
			-webkit-background-size: $width $height;
			-moz-background-size: $width $height;
			-o-background-size: $width $height;
			background-size: $width $height;
		}
	}
}
@mixin black_link{
	color:#000;
	text-decoration:none;
	&:hover,
	&.current{
		color: #8c8c8c;
		text-decoration: none;
	}
}

 body{
	background: #fefefe;
}


.cf, .col { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.col,.col-m0 { display: block; float: left; width: 100%; }
.col:first-child { margin-left: 0 }
.col { margin-left: 2% }
.span-1 { width: 6.5% }
.span-2 { width: 15.0% }
.span-3 { width: 23.5% }
.span-4 { width: 32.0% }
.span-5 { width: 40.5% }
.span-6 { width: 49.0% }
.span-7 { width: 57.5% }
.span-8 { width: 66.0% }
.span-9 { width: 74.5% }
.span-10 { width: 83.0% }
.span-11 { width: 91.5% }
.span-12 { width: 100% }
.cf:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.cf {zoom:1;}

figure{
	img{
		width: 100%;
	}
}
.table{
	margin:0;
	th{
		font-weight: bold;
		// @include ellipsis;
	}
	th,td{
		vertical-align: middle !important;
	}
}
.vat{
	vertical-align: top !important;
}
.vam{
	vertical-align: middle !important;
}
.vab{
	vertical-align: bottom !important;
}
.height-select{
	height:34px;
	line-height: 34px;
}
/* Form */
label{
	display: inline-block;
	padding: 4px 0 0 5px;
	margin: 0 10px 0 0;
	vertical-align: middle;
	cursor: pointer;
	font-weight: normal;
}

textarea.text,
input.text{ width: 520px; }
input.text2{ width: 50%; }
input.text3{ width: 162px }
input.text4{ width: 20px }
input.text5{ width: 50px }
input.text6{ width: 70px }
input.text7{ width: 300px }
input.name{ width: 80px; }
input.tel{ width: 100px; }
input.mail{ width: 300px; }
input.zip{ width: 70px; }
input.address{ width: 400px; }
input.file{ width: 50%; }

.input-size-xs{width:50px}
.input-size-sm{width:100px}
.input-size-de{width:200px}
.input-size-lg{width:300px}
.input-size-xl{width:400px}

textarea.text{
	height: 150px;
}
textarea.text2{
	width: 520px;
	height: 150px;
}

textarea.content1{
	padding: 3px;
	width: 99%;
	height: 120px;
}

textarea.wysiwyg{
	width: 534px;
	height: 450px;
}
.form-checkbox{
	float: left; margin: 0 0 10px 0; width: 128px;
}
.ward_form_element{
	margin-top: 5px;
	padding-top: 8px;
	background: url(/img/border_dotted.gif) repeat-x left top;
}

/* Decoration */
.left{
	float: left;
}
.right{
	float: right;
}
.fl{
	float: left;
}
.fr{
	float: right;
}

.center{
	text-align: center !important;
}

.num{
	text-align: right;
}

.smallest{
	font-size: 70%;
}

.ruby{
	font-size: 12px;
}
em{
	font-weight: bold;
	color: #990000;
}
span.ex{
	font-size: 93%;
	color: #999;
}
.fs23{font-size: 23px}
.red{color: $main-color}
.fwn{font-weight: normal;}
.px10{font-size: 10px}
.px12{font-size:12px}
.px14{font-size:14px}
.px16{font-size:16px}
.px18{font-size:18px}
.px20{font-size:20px}
.px22{font-size:22px}
.px24{font-size:24px}
.px26{font-size:26px}

.p0{padding:0 !important;}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}

.mr5{margin-right:5px}
.mr10{margin-right:10px}
.w16p{width: 16.66666%}
.w20p{width: 20%}
.w30p{width: 30%}
.w40p{width: 40%}
.w50p{width: 50%}
.w60p{width: 60%}
.w70p{width: 70%}
.w80p{width: 80%}
.w90p{width: 90%}
.w100p{width: 100%}
.b{font-weight:bold}
.NOTES{
	margin-left: 5px;
	font-size: 85%;
	font-weight: bold;
	color: #990000;
}
.error-message{
	text-align: left !important;
	color: #ff0000;
}
.error-message2{
	margin: 10px;
	padding: 2px 2px 2px 25px;
	background: #ffffcc url(/img/icon/exclamation.png) no-repeat 5px center;
	color: #ff0000;
	border: 1px solid #ff0000;
	font-size: 108%;
	font-weight: bold;
}
.form-error{
	border: 1px solid #ff0000 !important;
	background: #ffdfdf !important;
}

/* Layout */
#wrapper{
	z-index: 1;
	width: 100%;
	margin: 0 auto;
}

#topsection{
	margin-bottom: 10px;
	padding: 5px;
	background: #eee;
	text-shadow: none;
	p{
		float:right;
		font-size:12px;
	}
}
.navbar-brand{
	padding:0 !important;
}
.logo {
	width: 200px;
	height: 41px;
	display: block;
	// text-indent: -9999px;
	white-space: nowrap;
	overflow: hidden;
}
#header-logo{
	float: left;
	margin:8px 15px 0 0;
}
.box{
	padding: 10px;
	border-radius: 4px;
}
.box-gray{
	border:1px solid #ddd;
	background: #f0f0f0;
}
.box h2{
	margin: 0;
	font-size: 20px;
}
.box h3{
	padding: 5px 12px;
	font-size: 123.1%;
	color: #ea6025;
}
.contentcolumn p{
	font-size: 90%;
	line-height: 1.4em;
}

#operation{
	margin: 0 2px;
	border-top: 1px solid #e4e4dc;
	border-bottom: 1px solid #e4e4dc;
	background: #f8f8f6;
	text-align: right;
}
#main{
	margin: 0 10px 0 -20px;
}
#sidebar{
	margin: 0 0 0 10px;
}
	#submenu{
		margin: 0 1px;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
			    border-radius: 3px;
		border: 1px solid #e1e1e8;
	}
	#submenu h4{
		padding: 7px 10px;
		border-bottom: solid 1px #c4c4c4;
		background-color: #e9e7e7;
		cursor: pointer;
		font-size: 93%;
	}
	#submenu h4:hover {
		background-color: #e3e2e2;
	}
	#submenu h4.active {
		background-position: right 8px;
	}
	#submenu ul {
		background: #f7f7f7;
		margin: 0;
	}
		#submenu ul li{border-bottom: solid 1px #c4c4c4;}
		#submenu ul li:last-child{border:none;}
			#submenu ul li a{
				display: block;
				padding: 5px 0 5px 20px;
				color: #535353;
				text-decoration: none;
				font-size: 93%;
			}
			#submenu ul li a:hover{
				color: #666;
				text-decoration: underline;
			}

#footer{
	margin: 50px 10px;
	text-align: center;
	font-size: 10px;
}

#breadcrumbs{
	overflow: hidden;
	zoom: 100%;
	margin: 0 auto;
	height: 49px;
	line-height:49px;
	font-size: 85%;
}
#breadcrumbs em,
#breadcrumbs span { font-style: normal; font-weight: normal; color: #999; }
#breadcrumbs span { padding: 0 5px; }
.img-shops-li{
	width: 100px;
	height: auto;
	overflow: hidden;
}
.img-shops-main{
	width: 990px;
	height: 311px;
	overflow: hidden;
}
th.id{
	width: 30px !important;
}

th.img{
	width: 60px !important;
}

th.name{
	width: 80px !important;
}

th.status{
	width: 60px !important;
}

th.date{
	width: 120px !important;
}

th.action{
	width: 140px !important;
}

th.price{
	width: 90px !important;
}

/* Text */
p,
pre,
address,
cite {
	margin: 0.5em 0;
	font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: 116%;
}
h2{
	font-size: 24px;
}

pre {
	padding: 0.5em 10px;
	border: 1px solid #aaa;
	width: 90%;
	overflow: scroll;
	color: #333;
	background-color: #f5f5f5;
	font-family: "Osaka－等幅", monospace;
}

blockquote {
	margin: 1.5em 20px;
	padding: 1px 0;
	border: 3px solid #eee;
	background-color: #fff;
}

blockquote * {
	color: #666;
}

em {
	font-weight: bold;
}

strong {
	color: #ff4500;
}

/* List */
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.list{
	margin: 10px auto;
}

	ul.list li{
		overflow: hidden;
		zoom: 100%;
	}

ol{
	margin: 10px 0 10px 25px;
	padding: 0;
}

ol li ol{
	list-style: lower-alpha;
}

	ol li{
		margin-bottom: 5px;
		line-height: 1.3em;
	}

		ol li ol li{
			margin-bottom: 5px;
			line-height: 1.3em;
		}

dt {
	text-align: left;
	font-size: 14px;
}
dd {
	margin: auto auto 15px 0;
	text-align: left;
}
	dd ul li{
		padding-left: 10px;
	}

/*
 * Icons
 */
.icon_user{
	padding: 2px 0 2px 20px;
	background: url(/img/icon/user.png) no-repeat left center;
}
.icon_logout{
	padding: 2px 0 2px 20px;
	background: url(/img/icon/door_out.png) no-repeat left center;
}
.icon_view {
	background: url(/img/icon/application_view_list.png) no-repeat 12px center;
}
.icon_add {
	background: url(/img/icon/application_add.png) no-repeat 12px center;
}
.icon_edit {
	background: url(/img/icon/application_edit.png) no-repeat 12px center;
}
.icon_sort {
	background: url(/img/icon/table_sort.png) no-repeat 12px center;
}
.icon_schedule {
	background: url(/img/icon/date.png) no-repeat 12px center;
}
.icon_information {
	padding: 2px 2px 0 20px;
	background: url(/img/icon/information.png) no-repeat scroll 0 center;
}

.btn_view{
	padding: 5px 5px 5px 20px;
	background: url(/img/icon/application.png) no-repeat left center;
}
.btn_add{
	padding: 5px 5px 5px 20px;
	background: url(/img/icon/application_edit.png) no-repeat left center;
}
.btn_del{
	padding: 5px 5px 5px 20px;
	background: url(/img/icon/cross.png) no-repeat left center;
}
.btn_view_res{
	padding: 5px 5px 5px 20px;
	background: url(/img/icon/comment.png) no-repeat left center;
}
/* ContentHeader */
#content_header{
	overflow: hidden;
	_zoom: 100%;
	margin: 0 2px;
	padding: 5px;
	border-top: 1px solid #e4e4dc;
	border-bottom: 1px solid #e4e4dc;
	background: #f8f8f6;
	text-align: right;
}
	#content_header .left p{
	}
	#content_header .left img{
		margin-right: 3px;
		vertical-align: middle;
	}
	.buttons {
		float: right;
	}
	.tac{
		.buttons{
			float:none !important;
		}
	}
	.buttons:first-child{margin-right: 5px;}
	.action-edit,
	.action-edit-delete{
		text-align: center;
		white-space: nowrap;
	}

	.buttons button span.view{ background: url(/img/icon/application_view_list.png) no-repeat left center; }
	.buttons button span.reg{ background: url(/img/icon/add.png) no-repeat left center; }
	.buttons button span.csv{ background: url(/img/icon/page_white_excel.png) no-repeat left center; }
	.buttons button span.login{ background: url(/img/icon/key_go.png) no-repeat left center; }
	.buttons button span.close{ background: url(/img/icon/cross.png) no-repeat left center; }

.delete_box_image{
	display: block;
	padding: 3px 3px 3px 18px;
	background: url(/img/icon/cross.png) no-repeat left center;
}

.sunday{
	color: #F86D6D;
}
.saturday{
	color: #6D9EF8;
}

.floatLeft{
	float: left;
}

/*
 * twitter bootstrap over write.
 */
.form-actions{
	padding: 10px;
}
.form-actions .btn{
	margin-left: 5px;
}
.pagination{
	margin: 0 auto;
}


/*
 * Input
 */
.w30 {width:30px}
.w40 {width:40px}
.w50 {width:50px}
.w60 {width:60px}
.w70 {width:70px}
.w80 {width:80px}
.w90 {width:90px}
.w100{width:100px}
.w110{width:110px}
.w120{width:120px}
.w130{width:130px}
.w140{width:140px}

.table-price-board th,
.table-price-board td{
	text-align: center !important;
}

/*
 * (FIX) Google Maps API v3 + Twitter Bootstrap
 */
#gmap{
	label {
		width: auto !important;
		display: inline !important;
	}
	img {
		max-width: none !important;
	}
}

.sep_row{
	background: #0088CC !important;
	color: white;
	text-shadow: none;
}

/*
 * AutoComplete
 */
.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
	width: 500px !important;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.ac_loading {
	// background : Window url('/img/admin/ajax-loader.gif') right center no-repeat;
}

.ac_over {
	background-color: Highlight;
	color: HighlightText;
}

th{
	background-color: #f7f7f7 !important;
}


/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 *
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 *
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('/img/fancybox/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('/img/fancybox/fancybox.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('/img/fancybox/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('/img/fancybox/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('/img/fancybox/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('/img/fancybox/fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('/img/fancybox/fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('/img/fancybox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('/img/fancybox/fancybox.png');
	background-position: -40px -182px;
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('/img/fancybox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('/img/fancybox/fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('/img/fancybox/fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('/img/fancybox/fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url('/img/fancybox/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url('/img/fancybox/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url('/img/fancybox/fancybox.png') -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
	height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }

/*
 * Sort
 */
.box_sort{

}
#sort_area{

}
	.sort_item_companion{
		float: left;
		width: 106px;
		margin: 0 10px 15px 0;
		text-align: center;
		cursor: move;
	}
		.sort_item_companion img{
			border: 1px solid #999;
		}
		.sort_item_companion h4{
			overflow: hidden;
			width: 106px;
			border: 1px solid #999;
			border-bottom: none;
			font-size: 93%;
		}

#table_shop_delivery_cities{
	margin:0;
	border:none;
	height:100%
}
#table_shop_delivery_cities td{
	vertical-align: top;
}

/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.ui-resizable{
	opacity: 0.5;
}
.ui-resizable-handle{
	background: rgba(255,255,255,0.8);
}
.bootstrap-timepicker{position:relative}.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu{left:auto;right:0}.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before{left:auto;right:12px}.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after{left:auto;right:13px}.bootstrap-timepicker input{cursor:pointer}.bootstrap-timepicker .add-on i{display:inline-block;width:16px;height:16px}.bootstrap-timepicker-widget.dropdown-menu{padding:2px 3px 2px 2px}.bootstrap-timepicker-widget.dropdown-menu.open{display:inline-block}.bootstrap-timepicker-widget.dropdown-menu:before{border-bottom:7px solid rgba(0,0,0,0.2);border-left:7px solid transparent;border-right:7px solid transparent;content:"";display:inline-block;left:9px;position:absolute;top:-7px}.bootstrap-timepicker-widget.dropdown-menu:after{border-bottom:6px solid #fff;border-left:6px solid transparent;border-right:6px solid transparent;content:"";display:inline-block;left:10px;position:absolute;top:-6px}.bootstrap-timepicker-widget a.btn,.bootstrap-timepicker-widget input{border-radius:4px}.bootstrap-timepicker-widget table{width:100%;margin:0}.bootstrap-timepicker-widget table td{text-align:center;height:30px;margin:0;padding:2px}.bootstrap-timepicker-widget table td:not(.separator){min-width:30px}.bootstrap-timepicker-widget table td span{width:100%}.bootstrap-timepicker-widget table td a{border:1px transparent solid;width:100%;display:inline-block;margin:0;padding:8px 0;outline:0;color:#333}.bootstrap-timepicker-widget table td a:hover{text-decoration:none;background-color:#eee;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border-color:#ddd}.bootstrap-timepicker-widget table td a i{margin-top:2px}.bootstrap-timepicker-widget table td input{width:25px;margin:0;text-align:center}.bootstrap-timepicker-widget .modal-content{padding:4px}@media(min-width:767px){.bootstrap-timepicker-widget.modal{width:200px;margin-left:-100px}}@media(max-width:767px){.bootstrap-timepicker{width:100%}.bootstrap-timepicker .dropdown-menu{width:100%}}
.bootstrap-timepicker-widget table,
.bootstrap-timepicker-widget th,
.bootstrap-timepicker-widget td{
	border:none;}
.bootstrap-timepicker .add-on1{-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;}

.form-actions {
	overflow:hidden;
	padding: 10px;
	margin-top: 15px;
	background-color: whiteSmoke;
	border-top: 1px solid #DDD;
}
.tac{text-align:center !important;}
.tar{text-align:right !important;}
.ellipsis{
	@include ellipsis;
}

.form-control{
	display:inline;
}

.origin{
	display:none;
}

h2 + .row{
	background: #eee;
	margin: 0;
	padding: 10px;
	.col-md-6{
		padding:0;
	}
}
// td{
// 	.row{
// 		.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,{
// 			padding-right: 0;
// 		}
// 	}
// }

table.calendar{
	margin: 10px auto;
/*	width: 730px;*/
	border: 1px solid #d4d4d4;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #f7f7f7;
}
table.calendar caption{
	margin: 0 0 5px 0;
	text-align: center;
	font-weight: bold;
	font-size: 123.1%;
}
table.calendar th{
	padding: 10px 0;
	background: #f5f5f5;
	border: 1px solid #d4d4d4;
	text-align: center;
}
table.calendar td{
	padding: 0 !important;
	border: 1px solid #d4d4d4;
	/*line-height: 1.4em;*/
	height:80px;
	text-align: center;
}
	table.calendar td div{
		margin: 0 auto;
		height: 80px;
		background: #fff;
	}
		table.calendar td div a{
			display: block;
			width: 100%;
			height: 100%;
			line-height: 80px;
			text-decoration: none;
		}
		table.calendar td div a:hover{
			background: #f5f5f5;
		}
		table.calendar td div a.current{
			background: #ffffcc;
		}
.sunday{
	color: #F86D6D;
}
.saturday{
	color: #6D9EF8;
}
.ul-dib{
	li{
		display: inline-block;
		margin-right: 10px;
		a{
			padding: 7px 10px;
			background: #f0f0f0;
			border-radius: 4px;
		}
	}
}
.compare-count{
	background: $main-color;
	color: #fff;
	border-radius:20px;
	padding: 1px 6px 0;
	z-index: 10;
	position: absolute;
	top: -11px;
	right: -12px;
	border: 2px solid #fff;
	@include box-shadow(rgba(0,0,0,0.4) 0 3px 2px 0);
	font-size: 11px;
}
.label-green{
	background: #4CB55B;
}
.label-red {
    background-color: #d9534f;
}
